body{
  background-color:#0006FF;
}
h1{
  font-style:italic;
  color:#990066;
}
h2{
  color:#003399;
}
p{
  color:#FF0000;
}
li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
} 
